.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.paginationsButton {
  text-align: center;
}

.paginationsButton > button {
  margin: 15px;
  font-size: 1.5rem;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
.paginationsButton > button:disabled {
  background-color: rgb(126, 179, 179);
  cursor: not-allowed;
}
.filterSortBox {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.filterSortBox>select,.filterSortBox>button{
    outline: none;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gainsboro;
    cursor: pointer;
}
.filterSortBox>button{
    color: white;
    background-color: black;
}


/* medium */
@media all and (min-width: 381px) and (max-width: 700px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
}
/* small */
@media all and (min-width: 100px) and (max-width: 380px) {
  .productContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
